// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.row-top {
    margin: 20px;
    height: 60vh;
}

.column-left, .column-right {
    margin-left: auto;
    margin-right: auto;
}

.column-right .card{
    margin-top: 20px;
}

.menu, .place{
    height: 20%;
}

.comment{
    height: 30%;
}

.column-left {
    img {
        margin-top: 2px;
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
}

img.image-preview {
    border: 2px solid gray;
}

#preview {
    margin-top: 10px;
}

/* モーダルウィンドウを開く要素 */
.modal_open_btn {
    display: inline-block;
    cursor: pointer;
    padding-top: 30px;
  }
  /* モーダルウィンドウ要素 */
  .modal_contents {
    position: absolute;
    top: 0;
    left: 0;
    z-index:100;
    width: 100%;
    height: 100%;
    width: 100%;
  }
  /* モーダルウィンドウの背景要素 */
  .modal_contents_bg {
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
  }
  /* モーダルウィンドウの中身*/
  .modal_contents_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 50%;
    height: 50%;
    margin: auto;
    transform: translate(-50%,-50%);
    padding: 30px;
  }
  /* モーダルウィンドウを閉じる要素 */
  .modal_close_btn {
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
  }

// indexページ
.post-card {
    height: 150px;
}
.index_image {
    height: 100%;
    // width: 100%;
    object-fit: contain;
}
.datetime, .menu_category {
    color: gray;
}
.updated_at {
    color: gray;
    font-size: 0.8em;
}
.user_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.user_icon img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.user_name {
    margin-top: -5px;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

// ユーザー情報編集画面
.preview_user_icon img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

// /* ラベル部分 右上に表示 */
// .triangle-mypost::before {
//     content: "";
//     top: 0;
//     right: 0;
//     border-bottom: 4em solid transparent;
//     // border-right: 4em solid #c12748; /* ラベルの色はここで変更 */
//     border-right: 4em solid skyblue; /* ラベルの色はここで変更 */
//     position: absolute;
//     z-index: 100;
// }
// .triangle-mypost::after {
//     content: "MY投稿";
//     display: block;
//     top: 5px;
//     transform: rotate(45deg);
//     color: #fff; /* 文字色はここで変更 */
//     right: 0;
//     position: absolute;
//     z-index: 101;
// }
// .triangle-join::before {
//     content: "";
//     top: 0;
//     right: 0;
//     border-bottom: 4em solid transparent;
//     // border-right: 4em solid #c12748; /* ラベルの色はここで変更 */
//     border-right: 4em solid #3CB371; /* ラベルの色はここで変更 */
//     position: absolute;
//     z-index: 100;
// }
// .triangle-join::after {
//     content: "参加予定";
//     display: block;
//     top: 5px;
//     transform: rotate(45deg);
//     color: #fff; /* 文字色はここで変更 */
//     right: 0;
//     position: absolute;
//     z-index: 101;
// }
