// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.row-top {
    margin: 20px;
    height: 60vh;
}

.column-left, .column-right {
    margin-left: auto;
    margin-right: auto;
}

.column-right .card{
    margin-top: 20px;
}

.menu, .place{
    height: 20%;
}

.comment{
    height: 30%;
}

img {
    width: 500px;
    height: 300px;
}
